body {
  margin: 0;
  font-family: Quicksand,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  width: 85%;
  height: auto;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
      "header header header header"
      "content content content content"
      "footer footer footer footer"
  ;
}

.header{
  grid-area: header;
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
  background-color: #fff6fa;
}

.header h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: larger;
}

.header nav{
  flex-grow: 1;
}

.header nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 132px;
}

.header li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a{
  color: black;
  text-decoration: none;
}

.header h3 a {
  text-decoration: none;
  color: #ff6961;
}

.header .active,
.header a:hover{
  color: #f79fbe;
  transition: all 300ms;
}


.footer{
  grid-area: footer;
  min-height: 40px;
  line-height: 7px;
  text-align: center;
  font-size: 14px;
  margin-top: 60px;
  border-top: 3px solid black;
  padding-top: 15px;
  background: #fff6fa;
}

.footer a{
  text-decoration: none;
  color: #005c8c;
  padding: 10px;
  font-size: 30px;
}

.footer a:hover{
  color: #f79fbe;
  transition: all 300ms;
}

.footer h3{
  font-size: 18px;
}

.content {
  grid-area: content;
  min-height: 400px;
}

.home h1{
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 80px;
}

.sobre-mi{
  
}

.strong{
  color: #f45572;
  font-size: 20px;
}

.cv-title{
  color: #f3a8c2;
  border-bottom: 1px solid #75c2f9;
}

.home strong{
  color:#f45572;
}

.home h2{
  color: #cfb2be;
}

.home a{
  color: white;
  padding: 5px;
  border-radius: 5px;
  background: #b0c2f2;
  text-decoration: none;
  transition: all 300ms;
  float: right;
}

.home a:hover,
input[type='submit']:hover,
button:hover{
  background-color: #f79fbe;
  transition-duration: 300ms;
}

.page .heading,
.home .heading {
  font-size: 30px;
  color: black;
  margin-bottom: 0px;
}

.page .heading {
  font-size: 45px;
  padding-bottom: 10px;
}

.tecnologias{
  color: #f45572;
  font-size: 20px;
}

input[type='text'],
textarea{
  padding: 15px;
  display: block;
  width: 250px;
  margin-top: 25px;

}

input[type='submit'],
button{
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: 0px;
  background: #b0c2f2;
  text-decoration: none;
  font-size: 15px;
  margin-top: 15px;
}

.works{
  display: flex;
  flex-wrap: wrap;
}

.work-item{
  flex-basis: 25%;
  margin: 30px;
}

.work-item .mask{
  width: 100%;
  height: 130px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
}

 img{
  width: 100%;
}

.project-mask{
  width: 50%;
  height: 50%;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
}

.work-item .mask:hover img{ 
  width: 110%;
  margin-right: 30%;
  transition: all 500ms;
}


.work-item span{
  color: gray;
  display: block;
  margin-top: 35px;
}

.work-item h2{
  color: #000;
  display: block;
  margin-top: 5px;
  font-size: 25px;
  margin-bottom: 10px;
}

.work-item h3{
  color: #444;
  display: block;
  margin-top: 5px;
  font-size: 20px;
  margin-top: 0px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.work-item a{
  color: #000;
  text-decoration: none;
  transition: all 300ms;
}

.work-item a:hover{
  color: #fdcae1;
}

.page-work .mask{
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 3px #ddd;
}

form input {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #ddd;
}

form textarea {
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
  border-radius: 5px;
}

.page .heading a{
  font-size: 15px;
  color: white;
  padding: 10px;
  float: right;
  border-radius: 5px;
  background: #b0c2f2;
  text-decoration: none;
  transition: all 300ms;
}

.page .heading a:hover{
  background-color: #f79fbe;
  transition-duration: 300ms;
}

@media (max-width: 1085px){
  .content {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  }

  .work-item{
      width: 80%;
  }
}

@media screen and (max-width: 800px){  
  
  .header nav ul{

    flex-direction: column;
   
  }
  
  .work-item{
    flex-basis: 40%;
    margin: 15px;
  }
  
  .work-item .mask{
    width: 100%;
    height: 80px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 15px #ddd;
  }
  .work-item span{
    color: gray;
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  
  .work-item h2{
    text-align: center;
    color: #000;
    display: block;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .work-item h3{
    text-align: center;
    color: #444;
    display: block;
    margin-top: 5px;
    font-size: 15px;
    margin-top: 0px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  #title-mobile{
    font-size: 25px;
    padding-bottom: 10px;
  }
}